table {
    overflow-x: auto;

}

div.relative {
    position: relative;
    width: 1000px;
    height: auto;
    border: 4px solid #000000
}

div.absolute {
    position: absolute;
    top: 8px;
    right: 20px;
    width: 1000px;
    height: auto;
    border: 4px solid black
}